version: '3.8'
services:
  db:
    image: postgres:15.0-alpine
    container_name: database
    volumes:
      - dbdata:/var/lib/postgresql/data/
    env_file:
      - ../.env
  fastapi_app:
    build: 
      context: ../
    container_name: fastapi_app
    volumes:
      - ../:/fastapi_app/
    command: ["/fastapi_app/infra/script.sh"]
    env_file:
      - ../.env
    ports:
      - 8080:8000
    depends_on:
      - db
volumes:
  dbdata:
